.hero {
  position: relative; 
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

.hero::before {    
  content: "";
  background-image: url(./imgs/bg_img_1.jpeg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(40%);
}

.main-title {
  position: relative;
  font-weight: 500;
  animation-duration: 3s;
  animation-name: slidein;
  font-weight: 900;
}

@keyframes slidein {
  from {
    margin-top: -300px;
  }

  to {
    margin-top: 0;
  }
}

.hero img {
  min-width: 40%;
  transition: transform .5s ease;
}

.hero img:hover {
  animation: spin 1s linear;
}

@keyframes spin { 
  from { 
    transform: rotate(0deg); 
  } 
  to { 
    transform: rotate(360deg); 
  } 
}

.sub-pinyin {
  transition: transform .5s ease;
}

.sub-pinyin:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .hero img {
    width: 40%;
  }
}

@media screen and (min-width: 900px) {
  .hero h1 {
    font-size: 180px;
  }
  
  .hero h3 {
    font-size: 40px;
  }
  
  .hero span {
    font-size: 24px;
  }
}
