.hero {
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.main-title {
  animation-duration: 3s;
  animation-name: slidein;
  font-weight: 900;
}

.equal_sign {
  width: 6px;
  height: 30px;
}

@keyframes slidein {
  from {
    margin-top: -300px;
  }

  to {
    margin-top: 0;
  }
}

.hero img {
  width: 50%;
  transition: transform .5s ease;
}

.hero img:hover {
  animation: spin 1s linear;
}

@keyframes spin { 
  from { 
    transform: rotate(0deg); 
  } 
  to { 
    transform: rotate(360deg); 
  } 
}

.sub-pinyin {
  transition: transform .5s ease;
}

.sub-pinyin:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .hero img {
    width: 40%;
  }
}

